/*MODELO 1 DE CARROSSEL*/
.container-imagem{
    overflow: hidden;
}
.container-imagem img{
    object-fit: cover;
    background-position: center;
    transition: transform 0.6s ease-in-out;
    border: none;
}
.container-imagem img:hover{
    transform: scale(1.1);
}

/*MODELO 2 DE CARROSSEL*/ 
/*
    IMPORTANTE = ( ver o pq do container oculta o texto da imagem quando definido o height do container_carrossel )
*/

.ImgCarrossel{
    overflow: hidden;
    max-height: 400px;
}

.container_carrossel{
    width: 100%;
    overflow: hidden;
    padding: 0;
    border: 2px solid rgb(189, 189, 189);
}
.container_carrossel .carousel-inner{
}
.container_carrossel .carousel-inner .carousel-item{
    overflow: hidden;
}
.container_carrossel .carousel-inner .carousel-item img{
    object-fit: cover;
    background-position: center;
    transition: transform 0.6s ease-in-out;
    border: none;
}
.container_carrossel .carousel-inner .carousel-item img:hover{
    transform: scale(1.05);
}
.carousel-indicators .custom_button{
    width: 10px;
    height: 10px;
}